#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  
}
@media (width >= 320px){
  body{
    font-size: 16px;
  }
  .header-menu-phone{
    height: 63px;
    background-color: #1B294B;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .header-phone{
    height: 658px;
    background: linear-gradient(174.03deg, #030E28 52.32%, rgba(0, 0, 0, 0) 117.29%), url("./assets/bg.png");
    
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .header-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 15px 0px 15px;
  }
  .header-title-parag{
    display: flex;
    flex-direction: column;
    gap: 0.5em; 

  }
  .header-title-parag h1{
    margin:0;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 38px;
    width: 295px;
    height: 147px;
    
  }
  .header-title-parag p{
    font-family: 'Caveat';
    font-weight: 400;
    font-size: 24px;
    line-height: 104%;
    color: #FFFFFF;
    width: 295px;
    height: 50px;
    
  }
 
  .frame1438{
    font-family: 'IBM Plex Sans';
    font-style: italic;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding-top: 1.25em;
    
}
.li-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.frame1049{
  display: flex;
  flex-direction: row;
  width: 284.16px;
  justify-content: space-evenly;
  align-items: end;
  padding: 1.875em 0 2.5em 0;
}
.frame136{
  background: linear-gradient(129.65deg, #C4070D -116.6%, #F45359 104.91%);
  width: 294.19px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.frame1063{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 26px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  gap: 1.125em;
}
/**********section two****************/
.frame1195{
  height: 954px;
  background: linear-gradient(180deg, #FFFFFF -2.62%, #E8F0FF 87.3%);
}
.frame1195 h2{
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 30px;
  line-height: 125.5%;
  text-align: center;
  color: #1D1818;
  padding: 47px 0px 30px 0px;
}
.img-group-flex{
  display: flex;
  justify-content: center;
  padding: 40px 17px;
}
.img-group{
  width: 286.92px;
  height: 211px;
}
.frame940{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 250px;
  height: 92px;
}
.frame919{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:24px;
}
.frame940 p{
  width: 220px;
  height: 92px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 144%;
  color: #1D1818;
  }
/***************tercer row***********************/
.frame1182{
  height: 359px;
  background: #2E74EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.frame1182 h3{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125.5%;
  color: #FFFFFF;
  width: 225px;
  height: 75px;
  padding: 29px 37px 24px 37px;
  text-align: center;
  margin: 0;
}
.brands-flex{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  width: 275px;
  align-items: center;
}
/**********************/
.frame1190{
  height: 2670px;
  background: #FFFFFF;
 
}
.frame1190-flex{
   display: flex;
  flex-direction: column;
  align-items: center;
}
.frame1190-flex h3{
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 36px;
  line-height: 125.5%;
  text-align: center;
  color: #19243F;
  width: 260px;
  margin: 0;
  padding: 30px 30px 18px 30px;
}
.frame1190-flex p{
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #2E74EE;
  width: 271px;
  padding: 0px 25px 32px 25px;
}
.frame1408{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 300px;
  height: 230.27px;
}
.frame1407{
  width: 300px;
  height: 77.84px;
  background: #19243F;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame1407 p{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17.027px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 256px;
  padding: 0;
}
.jobs-flex{
  display: flex;
  flex-direction: column;
  gap:24px;
}
.frame136-2{
  display: flex;
  flex-direction: row;
  gap: 8.18px;
  align-items: center;
  justify-content: center;
  width: 267px;
  height: 68px;
  cursor: pointer;
  background: linear-gradient(103.92deg, #C4070D -1.44%, #F45359 77.82%);
}
.frame136-2 span{
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.call-flex{
  padding: 35px 0 24px 0;
}
/*****************************/
.frame375{
  height: 520px;
  background: #EBF2FF;
  
}
.frame735-box{
  display: flex;
  gap:9px;
  flex-direction: column;
  justify-content: center;
}
.frame375 h3{
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  color: #1D1818;
  padding-top: 39px;
  margin:0;
}
.frame375 p{
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #2E74EE;
}
.testi-img{
  padding-top: 25px;
  display: flex;
  justify-content: center;
}
/*****************************/
.frame-gallery{
  height: 417px;
  background: radial-gradient(51.53% 49.47% at 61.04% 40.94%, #0E151F 0%, #192440 82.15%, #192440 100%); 
}
.frame1146{
  display: flex;
  flex-direction: column;
  gap:3px;
  padding: 30px 0px;

}

.frame1146 h3{
  margin:0;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 36px;
  line-height: 125.5%;
  text-align: center;
  color: #FFFFFF;
}
.frame1146 p{
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
.rct-818{
  display: flex;
  justify-content: center;
}
/*******************************/
.reviews{
  height: 627px;
  background: #EBF2FF;
}
.frame1525{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame1525 h3{
  width: 273px;
  height: 100px;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #1D1818;
}
.frame1525 p{
  width: 236px;
  height: 50px;
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #1D1818;
}
.frame1062{
  display: flex;
  justify-content: center;
  padding: 30px;
}
.bg-card{
  width: 257px;
  height: 306px;
  background: #FAFCFF;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 15px;
  gap:26px;
}
.card-client-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.bg-card p{
  width: 227.09px;
  height: 199.9px;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #1D1818;
}
.span-stars{
  display: flex;
  flex-direction: column;
}
.span-stars span{
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 19.108px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #1D1818;
}
.profile-size{
  width: 47px;
  height: 46px;
}
/******************************/
.frame-our-team{
  height: 700px;
  background: #FFFFFF;
}
.frame1528{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 70px 90px 70px;
}
.frame1528 h3{
  width: 166px;
  height: 88px;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 36px;
  line-height: 121.5%;
  text-align: center;
  color: #1D1818;
  margin: 0;
}
.frame1528 p{
  height: 25px;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #2E74EE;
}
.card-team-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-team-size{

}
.card-team-size img{
  width: 220.67px;
  height: 288px;
}
.card-team-size h5{
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #2E74EE;
  text-align: center;
  margin: 0;
}
.card-team-size p{
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #1D1818;
}
}
